@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;

}

/* caja maestra imagen total*/
.index {
    background-image: url(../assets/img/foto10.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

/* header maestro caja con estilos y espacio*/
.header {
    background-color: rgba(255, 255, 0, 0.89);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 0px 1%;

}

/* logo principas del banner */
.header .logo img {
    height: 90px;
    width: auto;

}

/* caja de lista de navegacion*/
.header .nav-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* estilos de lista de navegacion*/
.header .nav-links a {
    text-decoration: none;
    text-transform: capitalize;
    font-style: italic;
    font-size: 1.87rem;
    color: rgb(12, 173, 12);
}

/* espacio entre links de navegacion*/
.header .nav-links li {
    list-style: none;
    padding: 0 50px;
}

/* efecto de tanaño de letra en los link de navegacion */
.header .nav-links li:hover {
    transform: scale(1.1);

}

/* cambio de color y efecto*/
.header .nav-links a:hover {
    color: orangered;
}

/* caja main con grid*/
.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 199px)
}

/* columna de img main*/
.presentacion {
    grid-column: 2 /3;
    justify-self: center;
    padding-top: 20px;
}

/* columna y fila  nombre de la marca */
.title {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
}

/* estilos de titulo principal*/
.title h1,
h2 {
    font-size: 90px;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
    color: #DC1F90;
    mix-blend-mode: difference;
}

h2 {
    font-size: 35px;
}

/* ubicacion de search de pagina principal*/
.buscador {
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;

}

/*estilos de buscador */
.buscador input {
    width: 1000px;
    height: 50px;
    background: rgba(255, 255, 255, 0.52);
    border-radius: 50px;
    border-color: rgba(255, 255, 255, 0.137);
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;

}

/*footer con flex y pocicionamiento de enlaces */
.footer {

    background-color: rgba(255, 255, 255, 0.932);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 85px;
}
.link{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.link p{
    font-style: italic;
    font-size: 22px;
    color: rgb(12, 173, 12);
}

/* stilos de letras e iconos  */
.link a {
    font-size: 30px;
    text-decoration: none;
    color: rgb(12, 173, 12);
}

@media (max-width:1440px) {


    .header .nav-links li {
        padding: 0 15px;
    }

    .main {
        grid-template-rows: repeat(4, 195px)
    }

    .buscador input {
        width: 800px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        gap: 2px;
        height: 91px;
    }

    .link a {
        font-size: 24px;
    }
}

/*@media de pagina principal y probablemente todas eceptuando el main*/
@media(max-width:1024px) {
    .header {
        flex-direction: column;
        justify-content: flex-start;
        height: 130px;
    }

    .header .nav-links li {
        padding: 0 10px;
    }


    .main {
        grid-template-rows: repeat(4, 186px)
    }

    .presentacion img {
        height: 175px;
        width: auto;
    }

    .title {
        align-self: self-start;
    }

    .title h1 {
        font-size: 80px;

    }

    h2 {
        font-size: 35px;
    }

    .buscador input {
        width: 600px;
        font-size: 20px;
    }

}

@media(max-width:768px) {
    .buscador input{
        width: 420px;
    }
    .footer{
        flex-direction: row;
    }
    .link p{
        display: none;
    }
    
    .link a{
        font-size: 50px;
    }
}

@media(max-width:425px) {}

@media(max-width:320px) {}


/* pagina nosotros*/

.nosotros,
.productos,
.insumos,
.contacto {
    background-image: url(../assets/img/libelulafondo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}